* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #1f4037, #99f2c8);
	/* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */
}

/* Calculator container */
.calculator {
	background-color: white;
	width: 400px;
	border-radius: 12px;
	box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */
.calculator-display {
	background: black;
	color: white;
	margin: 0;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.calculator-display h1 {
	margin: 0;
	padding: 25px;
	font-size: 45px;
	font-family: 'Lucida Console', sans-serif;
	font-weight: 100;
	overflow-x: auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Buttons */
.calculator-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}

.equal-sign {
	grid-column: -2;
	grid-row: 2 / span 4;
}
